[Unit]
Description=pihole
Requires=docker.service multi-user.target
After=docker.service network-online.target dhcpd.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10

WorkingDirectory=/opt/pihole

ExecStartPre=-/usr/bin/docker compose kill
ExecStartPre=-/usr/bin/docker compose rm -f

ExecStartPre=/sbin/ip link add shim link eth0 type macvlan mode bridge
ExecStartPre=/sbin/ip addr add 192.168.8.20/24 dev shim
ExecStartPre=/sbin/ip link set shim up
ExecStartPre=/sbin/ip route add 192.168.8.4/32 dev shim

ExecStopPost=/sbin/ip link del shim link eth0 type macvlan mode bridge

ExecStart=/usr/bin/docker compose up --force-recreate

ExecStop=/usr/bin/docker compose stop

[Install]
WantedBy=multi-user.target
